@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    /* background-image: url("../../../assets/backgrounds/galaxy.webp"); */
    background: #000;
    background-repeat: no-repeat, no-repeat;
}

.navbar{
    width: 80%;
    background: #000;
    border: 1px solid #fff;
    border-radius: 34px;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.3);
    padding: 5px 12px;
    position: fixed;
    top: 2%;
    left: 10%;
    right: 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #fff;
}

.navbar img{
    height: 55px;
    margin-left: 10px;
    cursor: pointer;
}

.navbar .navlist{
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.navlist li {
    border-right: 1px solid #fff;
}

.navlist li:last-child {
    border: none;
}

.navlist li:last-child > a {
    color: rgb(1, 255, 255);
    /* font-weight: 900; */
}

.navlist li > a{
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
    font-weight: 500;
}

.navlist li > a:hover{
    color: rgb(1, 255, 255);
}

/* Hero Section */
.hero-section{
    margin-top: 10%;
    display: flex;
    color: #fff;
    width: 100%;
    margin-bottom: 40px;
}

.hero-section .hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.hero-content span:first-child{
    font-size: 72px;
    font-weight: 800;
}

.hero-content #heroSecond{
    font-size: 32px;
    font-weight: 500;
}

.hero-content ul{
    list-style: none;
    display: flex;
}

.hero-content ul li{
    font-size: 1.2em;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 40px;
    padding: 12px 12px;
    width: 220px;
    text-align: center;

    cursor: pointer;
}

.hero-content ul li:hover{
    color: #000;
    background: cyan;
    border: 2px solid cyan;
    font-weight: 800;
    
}

.hero-section .hero-image{
    margin-left: 20%;
}

.hero-section .hero-image img{
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

/* General section style */

.section:nth-of-type(odd) {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: cyan;
}

.section:nth-of-type(even) {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000;
}

/* General header style */
.header-black{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 3em;
    font-weight: 800;
}

.header-white{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 800;
}

/* Launch Sequence Section */
.launch-content{
    display: flex;
}

/* ISRO Portals */
.portals .row-1, .portals .row-2{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.portal {
    border: 3px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    cursor: pointer;
}

.portal:hover{
    border: 3px solid cyan;
}

.portal > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
}

.portal > span > a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 1.5em;
}

/* ISRO Centers and Units */
.centers > .row-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ISRO Autonomous Units */
.autonomous-units > .row-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.autonomous-units .row-2 .portal{
    border: 3px solid #000;
}

.autonomous-units .row-2 .portal span a{
    color: #000;
}



/* Partners */
.partners{
    display: flex;
    flex-direction: column;
}
.partners .carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.carousel .startup-box:nth-child(2){
    margin-left: 100px;
    margin-right: 100px;
}

.startup-box img{
    cursor: pointer;
}

/* Footer */
.footer{
    position: relative;
    bottom: 0%;
    right: 0%;
    background: cyan;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer span{
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 5px;
    margin-right: 5px;
}